.fundoLogin {
    background-image: url(https://img.freepik.com/vetores-gratis/verificacao-do-usuario-prevencao-de-acesso-nao-autorizado-autenticacao-de-conta-privada-seguranca-cibernetica-pessoas-inserindo-login-e-senha-medidas-de-seguranca_335657-3530.jpg?t=st=1708538511~exp=1708542111~hmac=7be1bc170da3f1997beb4e008580e80d86c29932fe8d1aca7942447148ac5d2f&w=740);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }